$inner-circle-size: 550px;
$outer-circle-size: $inner-circle-size + 250px;

$circle-thin-gap-inner: 100px;
$circle-thin-gap-outer: 170px;
$circle-thin-thick-gap: 30px;

$border-thin-width: 2px;
$border-thick-width: 6px;
